/**
 * Animations
 * Shared animations styles, these work in conjunction with ngAnimate
 * We also declare Keyframe animations here
 * @group css.base.animations
 */


/* Keyframes */
@keyframes slideUp {
    0% {
        transform: max-height 0.3s ease-out;
        opacity: 1;
    }

    100% {
        transform: max-height 0.3s ease-out;
        max-height: 0;
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomFadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes almostFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes zoomFadeInRotate {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes bounce-down {
    0%      { transform: translateY(0px); }
    50%     { transform: translateY(30px);}
    100%    { transform: translateY(0px);}
}

@keyframes pulse {
    0%      { transform: scale(1); fill: #fdbb30;}
    50%     { transform: scale(1.125); fill: #ffee63;}
    100%    { transform: scale(1); fill: #fdbb30;}
}

@keyframes drive-right {
    0% {transform: translate3d(100%, 0, 0);}
    100% {transform: translate3d(-100%, 0, 0);}
}

@keyframes drive-left {
    0% {transform: translate3d(-100%, 0, 0);}
    100% {transform: translate3d(100%, 0, 0);}
}