
:root {
    --color-pelorous: #34A8CA;
    --color-eastern-blue: #2391AE;
    --color-salem: #108633;
    --color-jewel: #14742F;
    --color-blumine: #1A536D;
    --color-elephant: #103F53;
    --color-matisse: #147992;
    --color-mosque: #045270;
    --color-venice-blue: #065A7B;
    --color-aqua-island: #B0DDDF;
    --color-half-baked: #92C7C9;
    --color-green-haze: #00A34A;
    --color-fun-green: #008F2F;
    --color-cornflower: #8DD2EA;
    --color-punch: #DE4E36;
    --color-black: #000;
    --color-white: #FFF;
}