/**
 * Form
 * @group css.base.form
 */

.form {

    &__input {
        width: 100%;
        @include font(16, 16, $font-nspcc-regular);
        padding: 12px 10px 7px;
        border: 1px solid $color-bombay;
        box-shadow: inset 0 0 6px 1px rgba($color-black, 0.25);
        appearance: none;

        &--large {
            @include font(20, 20, $font-nspcc-semibold);
            padding-top: 7px;
            color: $color-green-haze;
            text-align: center;
        }
    }

    &__label {
        width: 100%;
        display: block;
        @include font(14, 22, $font-nspcc-regular);

        &--large,
        &--visible {
            display: block !important;
        }

        &--large {
            @include font(26, 40, $font-nspcc-semibold);
        }

        @include mq($until: tablet) {
            display: none;
        }
    }

    &__checkbox {

        input {
            @extend .vhdn;

            &:checked + span {
                background: url("/assets/img/form/checkbox-checked.svg");
            }
        }

        span {
            width: 30px;
            height: 30px;
            display: block;
            background: url("/assets/img/form/checkbox-unchecked.svg");

            @include mq($from: desktop) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__error-message {
    	border:1px solid #CD382B;
    	color:#CD382B;
    	margin: 0 auto 40px;
    	padding: 10px;
    	background-attachment: scroll;
    	background-color: #F5D2C1;
    	clear:both;
    	overflow:auto;
    	max-width: 400px;
    	text-align: left;

    	a {
        	color:#CD382B;
        	@include font(16, 20, $font-nspcc-semibold);

        	&:hover {
            	text-decoration: underline;
        	}
    	}
    }
}
