@import "../../../../../assets/css/globals.css";

.footer {
    width: 100%;
    height: 140px;
    background-color: var(--color-footer-bg);
    padding: 40px;

    .share-icon {
        fill: var(--color-white);
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    a {
        &:hover {
            .share-icon {
                opacity: 1;
            }
        }
    }
}
